<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>隔离操作</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/scanning.css"/>
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
	<body>
		<div class="mui-content">
		    <form class="mui-input-group">
		    	<div class="mui-input-row">
					<label>隔离标签号：</label>
					<input readonly="readonly" v-model="info.lslTagNo">
				</div>
				<div class="mui-input-row">
					<label>原标签号：</label>
					<input  v-model="info.tagNo">
				</div>
				<div class="mui-input-row" style="height: 80px;">
					<label>隔离原因：</label> 
					<textarea v-model="info.reason" placeholder="选填" class="mui-input-clear" style="padding:8px;height: 80px;background:  #fff;"></textarea>
				</div>
				<div class="mui-input-row" style="height: 80px;">
					<label>备注：</label> 
					<textarea v-model="info.remark" placeholder="选填" class="mui-input-clear" style="padding:8px;height: 80px;background:  #fff;"></textarea>
				</div>
			</form>
			<div class="mui-card">
				<div class="mui-card-content">
					<dl>
					    <dt>操作流程步骤</dt>
					    <dd>
					    	<ol>
						    	<li>扫描原标签号(如果没有标签请手输)</li>
						    	<li>扫描隔离标签号</li>
								<li>点击确定</li>
					    	</ol>
					    </dd>
					</dl>
				</div>
			</div>
			<div class="footer">
				<button type="button" @tap="warehous"  class="mui-btn mui-btn-primary">确定隔离</button>
		    </div>
		</div>
		</script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mtool.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/pdaScan.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/loadsh.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var initObj={
				type:'标准件隔离',
				scanType:'[L',
				ruKuUrl:'/isolationStock/doIsolation.do?whc=2',//入库接口
			}
		</script>
		<script src="../js/enterScan.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>