<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>隔离入库扫描</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/scanning.css"/>
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
	<body>
		<div class="mui-content">
		    <form class="mui-input-group">
				<div class="mui-input-row">
					<label>标签号：</label>
					<input  readonly="readonly" v-model="info.tagNo">
				</div>
				<div class="mui-input-row">
					<label>零件号：</label>
					<input  readonly="readonly" v-model="info.partNo">
				</div>
				<div class="mui-input-row">
					<label>库位：</label>
					<input readonly="readonly" name="area" v-model="info.areaNo"  data-options="fn:kwFn,text:'positionNo'" class="picker-data">
				</div>
				<div class="mui-input-row">
					<label>标签数量：</label>
						<div :class="o.noup?'no-input':''" class="mui-numbox" data-numbox-min="0" data-numbox-max="9999"  style="width:60%" data-numbox-step="10">
						  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
						  <input class="mui-numbox-input"  placeholder="默认不可修改" v-model="info.num" type="number"/>
						  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
					</div>
					<!--<input  readonly="readonly" placeholder="默认不可修改" v-model="info.num">-->
				</div>
			</form>
			<div v-cloak class="mui-card">
				<div class="mui-card-content">
					<ul class="mui-table-view">
					    <li  class="mui-table-view-cell">
					    	<span>{{o.bt}}扫描成功后立即确定</span>
					    	<div :class="o.bt=='已打开'?'mui-active':''" class="mui-switch" @toggle="setSwitch">
								  <div class="mui-switch-handle"></div>
							</div>
					    </li>
					</ul>
				</div>
			</div>
			<!--<div v-cloak class="mui-card">
				<div class="mui-card-content">
					<ul class="mui-table-view">
					    <li  class="mui-table-view-cell">
					    	<span>{{o.bt2}}记住扫描的库位</span>
					    	<div :class="o.bt2=='已打开'?'mui-active':''" class="mui-switch" @toggle="setSwitch2">
								  <div class="mui-switch-handle"></div>
							</div>
					    </li>
					</ul>
				</div>
			</div>-->
			<div class="mui-card">
				<div class="mui-card-content">
					<dl>
					    <dt>操作流程步骤</dt>
					    <dd>
					    	<ol>
						    	<li>扫描标签号</li>
						    	<li>选择库位</li>
								<li>确认数量是否正确</li>
								<li>点击确定</li>
					    	</ol>
					    </dd>
					</dl>
				</div>
			</div>
			<div class="footer">
				<button type="button" @tap="upnum"  class="mui-btn mui-btn-success">修改数量</button>	
				<button type="button" @tap="warehous"  class="mui-btn mui-btn-primary">确定入库</button>
		    </div>
		</div>
		</script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mtool.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/pdaScan.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/loadsh.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var initObj={
				type:'隔离返回审批入库',
				ruKuUrl:'/internalSemifinished/inStockQualified.do',//入库接口
				kuWeiUrl:'/area/getPositions.do'//获取库位接口
			}
		</script>
		<script src="../js/enterScan.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>